body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: rgb(0, 212, 255);
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(55, 135, 255, 1) 5%,
    rgba(55, 135, 255, 1) 95%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  font-style: italic;
  color: white;
  -webkit-text-stroke: 1.5px black;
  border-color: black;
  border-width: 2px;
}

h2 {
  color: white;
  margin: 0px;
}

input {
  width: 45px;
  border-radius: 7px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 1px 2px;
  border-color: -internal-light-dark-color(
    rgb(118, 118, 118),
    rgb(195, 195, 195)
  );
  border: solid;
  border-width: 2px;
}

.like-input {
  color: initial;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: white;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  width: 60px;
  border-radius: 7px;
  cursor: text;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 1px 2px;
  border: solid;
  border-width: 2px;
}

section {
  border-radius: 24px;
  background: #3787ff;
  box-shadow: 10px 10px 20px #1a417a, -10px -10px 20px #54cdff;
  padding: 15px;
  margin: 10px;
}

hr {
  border-color: white;
  border-style: solid;
  margin: 20px;
}
